:root {
  --col_main: rgb(47, 31, 31);
  --col_text: rgb(255, 255, 191);
}
*,
*::before,
*::after {
  margin: 0;
  text-decoration: none;
  list-style: none;
  padding: 0%;
  color: var(--col_text);
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
p {
  font-size: 16px;
}

.button {
  background-color: red;
  color: black;
  padding: 16px;
  text-align: center;
}

nav {
  background-color: blueviolet;
  height: 32px;
}
nav ul {
  display: flex;
  gap: 16px;
}
