body {
  background-color: var(--col_main);
}

section article {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  width: 100%;
}
section article aside {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
