body {
  background-color: var(--col_main);
}

main {
  padding-top: 24px;
}
.button {
  margin-left: 16px;
  font-size: 24px;
}

#film-container {
  width: 100%;
  justify-self: center;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    "title none"
    "film tasks";
}

#film-title {
  text-align: center;
  font-weight: bolder;
  grid-area: title;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 16px;
}
#film-container iframe {
  grid-area: film;
  justify-self: center;
}
#task-container {
  grid-area: tasks;
}

.task {
  margin-bottom: 16px;
}
.task summary {
  font-size: 32px;
  margin-bottom: 0px;
}
.task summary:hover {
  text-decoration: underline;
}
.task[open] summary {
  margin-bottom: 8px;
}
.task ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
