:root {
  --col_main: rgb(47, 31, 31);
  --col_text: rgb(255, 255, 191);
  --col_btn: rgb(255, 191, 0);
  --col_btn-hover: rgb(255, 255, 0);
}
*,
*::before,
*::after {
  margin: 0;
  text-decoration: none;
  list-style: none;
  padding: 0%;
  color: var(--col_text);
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}

.button {
  background-color: var(--col_btn);
  color: black;
  text-align: center;
  border-radius: 1em;
  padding: 0.25em;
  transition: all 0.25s ease-in-out;
}
.button:hover {
  background-color: var(--col_btn-hover);
}

nav {
  background-color: blueviolet;
  height: 32px;
}
nav ul {
  display: flex;
  gap: 16px;
}
